/* global font for this application */
* {
  font-family: 'Poppins', sans-serif;
  /* disable selection */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.row {
  margin: 0 !important;
}